

.middle, .rand-info, .inspiring, .call-to-action, .footer{
    display: flex;
}

body{
    display: flex;
    flex-direction: column;
    align-content:space-between;
    margin: auto;
}

.header{
    background-color: #1f2937;
    display: flex;
    color: #f9faf8;
    font-size: 24px;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    

}

ul{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
    
}

a{
    font-size: 18px;
    color: #e5e7eb;
}


.middle{
    background-color: #1f2937;
}

.hero{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
}

.info-header{
    display: flex;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    justify-content: center;
    align-items: center;
}

.inspiring{
    background-color: #e5e7eb;
}
.quote-text, .quoted{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}
button, .call-to-action{
    background-color: #3882f6;
}

